.cd__main {
  background: #1c92d2;  
  background: -webkit-linear-gradient(to right, #f2fcfe, #1c92d2);  
  background: linear-gradient(to right, #f2fcfe, #1c92d2) !important; 
}

.tree { margin: 1em 0 0 2em; }

.tree input {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  }

.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

.tree li {
  line-height: 1.2;
  position: relative;
  padding: 0 0 0.5em 1em;
}

.tree ul li { padding: 0.5em 0 0 1em; }

.tree > li:last-child { padding-bottom: 0; }

.tree_label {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

label.tree_label { cursor: pointer; }

label.tree_label:before {
  background: #000;
  color: #fff;
  position: relative;
  z-index: 1;
  float: left;
  margin: 0 1em 0 -2em;
  width: 1em;
  height: 1em;
  border-radius: 1em;
  content: '+';
  text-align: center;
  line-height: .9em;
}

:checked ~ label.tree_label:before { content: '–'; }

.tree li:before {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -.5em;
  display: block;
  width: 0;
  border-left: 1px solid #777;
  content: "";
}

.tree_label:after {
  position: absolute;
  top: 0;
  left: -1.5em;
  display: block;
  height: 0.5em;
  width: 1em;
  border-bottom: 1px solid #777;
  border-left: 1px solid #777;
  border-radius: 0 0 0 .3em;
  content: '';
}

label.tree_label:after { border-bottom: 0; }

:checked ~ label.tree_label:after {
  border-radius: 0 .3em 0 0;
  border-top: 1px solid #777;
  border-right: 1px solid #777;
  border-bottom: 0;
  border-left: 0;
  bottom: 0;
  top: 0.5em;
  height: auto;
}

.tree li:last-child:before {
  height: 1em;
  bottom: auto;
}

.tree > li:last-child:before { display: none; }

.tree_label.current-highlight {
  text-decoration: underline;
}

.tree_label.parent-highlight {
  background-color: #e0f7fa;
}

.tree_label.child-highlight {
  background-color: #fce4ec;
}

.tree_label b {
  font-weight: bold;
}

.tree_label .tooltip {
  visibility: hidden;
  background-color: white;
  color: black;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  left: 110%;
  top: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
  display: flex;
}

.tooltip-section {
  flex: 1;
  min-width: 100px;
  padding: 0 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.tooltip-section:first-child {
  text-align: left;
}

.tooltip-section:nth-child(2) {
  text-align: center;
}

.tooltip-section:last-child {
  text-align: right;
}

.tree_label:hover .tooltip {
  visibility: visible;
  opacity: 1;
}
