<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>
    <body>
        <ul class="tree">

        {% macro render_person(person, counter) %}
            {% if not person.spouses and not person.children %}
                <li>
                    <span class="tree_label">
                        <b>{{ person.last_name }} {{ person.first_name }}</b>
                        <span class="tooltip-content" style="display: none;">* {{ person.birth }} </br> ♱ {{ person.death }}; ; </span>
                    </span>
                </li>
            {% elif person.spouses %}
                {% set spouse_counter = namespace(value=0) %}
                {% for spouse_id in person.spouses %}
                    {% set spouse_counter.value = spouse_counter.value + 1 %}
                    {% set children_to_render = [] %}
                    {% for child_id in person.children %}
                        {% if spouse_id in family[child_id].parents %}
                            {% set _ = children_to_render.append(child_id) %}
                        {% endif %}
                    {% endfor %}
        
                    {% set marriage_text_to_render = " ⚭ " ~ family[spouse_id].last_name ~ " " ~ family[spouse_id].first_name %}
                    {% if person.spouses|length > 1 %}
                        {% set marriage_text_to_render = "(" ~ spouse_counter.value ~ ") " ~ marriage_text_to_render %}
                    {% endif %}
                    
                    {% if children_to_render %}
                        <li>
                            {% set current_counter = counter.value %} 
                            {% set counter.value = counter.value + 1 %}
                            <input type="checkbox" id="c{{ current_counter }}"/>
                            <label class="tree_label" for="c{{ current_counter }}">
                                <b>{{ person.last_name }} {{ person.first_name }}</b> {{ marriage_text_to_render }}
                                <span class="tooltip-content" style="display: none;">{{ person.first_name }} </br> * {{ person.birth }} </br> ♱ {{ person.death }}; ⚭ {{ person.marriage_dates[spouse_counter.value - 1] }} ; {{ family[spouse_id].first_name }} </br> * {{ family[spouse_id].birth }} </br> ♱ {{ family[spouse_id].death }} </span>
                            </label>

                            <ul>
                            {% for child_id in children_to_render %}
                                {{ render_person(family[child_id], counter) }}
                            {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li>
                            <span class="tree_label">
                                <b>{{ person.last_name }} {{ person.first_name }}</b> {{ marriage_text_to_render }}
                                <span class="tooltip-content" style="display: none;">{{ person.first_name }} </br> * {{ person.birth }} </br> ♱ {{ person.death }}; ⚭ {{ person.marriage_dates[spouse_counter.value - 1] }} ; {{ family[spouse_id].first_name }} </br> * {{ family[spouse_id].birth }} </br> ♱ {{ family[spouse_id].death }}</span>
                            </span>
                        </li>
                    {% endif %}
                {% endfor %}
            {% elif person.children %}
                <li>
                    {% set current_counter = counter.value %} 
                    {% set counter.value = counter.value + 1 %}
                    <input type="checkbox" id="c{{ current_counter }}"/>
                    <label class="tree_label" for="c{{ current_counter }}">
                        <b>{{ person.last_name }} {{ person.first_name }}</b> ⚭ ???
                        <span class="tooltip-content" style="display: none;">* {{ person.birth }} </br> ♱ {{ person.death }}; ;</span>
                    </label>
                    <ul>
                        {% for child_id in person.children %}
                            {{ render_person(family[child_id], counter) }}
                        {% endfor %}
                    </ul>
                </li>
            {% endif %}
        {% endmacro %}
            
        {% set counter = namespace(value=0) %}
        {{ render_person(family[1], counter) }}

        </ul>
      
        <script src="./js/script.js"></script>
    </body>
</html>
