<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>
    <body>
        <ul class="tree">

        {% macro render_person(person, counter) %}
        <li>
            {% if not person.spouses and not person.children %}
                <span class="tree_label"> <b> {{ person.last_name }} {{ person.first_name }} </b> </span>
            {% endif %}

            {% if person.spouses %}
                {% set spouse_counter = namespace(value=0) %}
                {% for spouse_id in person.spouses %}
                    {% set spouse_counter.value = spouse_counter.value + 1 %}
                    {% set children_to_render = [] %}
                    {% for child_id in person.children %}
                        {% if spouse_id in family[child_id].parents %}
                            {% set _ = children_to_render.append(child_id) %}
                        {% endif %}
                    {% endfor %}

                    {% set marraige_text_to_render = " ⚭ " ~ family[spouse_id].last_name ~ " " ~ family[spouse_id].first_name %}
                    {% if person.spouses|length > 1 %}
                        {% set marraige_text_to_render = "(" ~ spouse_counter.value ~ ") " ~ marraige_text_to_render %}
                    {% endif %}
                    
                    {% if children_to_render %}
                        <li>
                            {% set current_spouse_id = counter.value %} 
                            {% set counter.value = counter.value + 1 %}
                            <input type="checkbox" id="c{{ current_spouse_id }}"/>
                            <label class="tree_label" for="c{{ current_spouse_id }}"> <b> {{ person.last_name }} {{ person.first_name }}</b> {{ marraige_text_to_render }} </label>

                            <ul>
                            {% for child_id in children_to_render %}
                                {{ render_person(family[child_id], counter) }}
                            {% endfor %}
                            </ul>
                        </li>   
                    {% else %}
                        <span class="tree_label"> <b> {{ person.last_name }} {{ person.first_name }}</b> {{ marraige_text_to_render }} </span>
                    {% endif %}
                {% endfor %}
            {% elif person.children %}
                <li>
                    {% set current_child_id = counter.value %} 
                    {% set counter.value = counter.value + 1 %}
                    <input type="checkbox" id="c{{ current_child_id }}"/>
                    <label class="tree_label" for="c{{ current_child_id }}"> <b> {{ person.last_name }} {{ person.first_name }} </b> ⚭ ??? </label>
                    <ul>
                        {% for child_id in person.children %}
                            {{ render_person(family[child_id], counter) }}
                        {% endfor %}
                    </ul>
                </li>   
            {% endif %}
        </li>
        {% endmacro %}

        {% set counter = namespace(value=0) %}
        {{ render_person(family[1], counter) }}

        </ul>
      
        <script src="./js/script.js"></script>
    </body>
</html>