<!DOCTYPE html>
<html lang="en">
   <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>
    </head>
    <body>
        <ul class="tree">

        {% macro render_person(person, counter) %}
        <li>
            {% set current_id = counter.value %} 
            {% set counter.value = counter.value + 1 %}

            {% if person.spouses or person.children %}
                <input type="checkbox" id="c{{ current_id }}"/>
                <label class="tree_label" for="c{{ current_id }}"> {{ person.last_name }} {{ person.first_name }} </label>
            {% else %}
                <span class="tree_label">{{ person.last_name }} {{ person.first_name }}</span>
            {% endif %}

            {% if person.spouses %}
                <ul>
                    {% for spouse_id in person.spouses %}
                        {% set current_spouse_id = counter.value %} 
                        {% set counter.value = counter.value + 1 %}
                        <li>
                            <input type="checkbox" id="c{{ current_spouse_id }}"/>
                            <label class="tree_label" for="c{{ current_spouse_id }}"> ⚭ {{ family[spouse_id].last_name }} {{ family[spouse_id].first_name }} </label>

                            <ul>
                            {% for child_id in person.children %}
                                {% if spouse_id in family[child_id].parents %}
                                    {{ render_person(family[child_id], counter) }}
                                {% endif %}
                            {% endfor %}
                            </ul>
                        </li>   
                    {% endfor %}
                </ul>
            {% elif person.children %}
                <ul>
                    <li>
                        {% set current_child_id = counter.value %} 
                        {% set counter.value = counter.value + 1 %}
                        <input type="checkbox" id="c{{ current_child_id }}"/>
                        <label class="tree_label" for="c{{ current_child_id }}"> ⚭ ??? </label>
                        <ul>
                            {% for child_id in person.children %}
                                {{ render_person(family[child_id], counter) }}
                            {% endfor %}
                        </ul>
                    </li>   
                </ul>
            {% endif %}
        </li>
        {% endmacro %}

        {% set counter = namespace(value=0) %}
        {{ render_person(family[1], counter) }}

        </ul>
      
        <script src="./js/script.js"></script>
    </body>
</html>